{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
      [
        "babel-plugin-styled-components",{
          "ssr": true,
          "displayName": true
        }
      ],
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
  ]
}
